/* src/styles/Sidebar.css */
.sidebar {
    width: 250px; /* Daha ince bir sidebar */
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
  }
  
  .project-list {
    margin-top: 20px;
  }
  
  .project-item {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  .project-item h3 {
    margin: 0;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  